*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
}

/* Common */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    background: #5d3bee;
    color: #fdfdfd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 166.667%;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 0;
    background: #fbfaff;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mail {
    display: flex;
    align-items: center;
}

.header__mail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
}

.nav__list {
    display: flex;
}

.header__mail-address {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}

.nav__link {
    color: #51586a;
    font-size: 1.8rem;
    padding: 8px 24px;
}

.nav__link:hover {
    text-decoration: underline;
}
