*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
}

/* Common */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    background: #5d3bee;
    color: #fdfdfd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 166.667%;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 0;
    background: #fbfaff;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mail {
    display: flex;
    align-items: center;
}

.header__mail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
}

.nav__list {
    display: flex;
}

.header__mail-address {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}

.nav__link {
    color: #51586a;
    font-size: 1.8rem;
    padding: 8px 24px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    padding-top: 24px;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    column-gap: 156px;
}

.hero__media {
    width: 44%;
    flex-shrink: 0;
}

.hero__images {
    position: relative;
}

.hero__img {
    position: relative;
    display: block;
    width: 514px;
    object-fit: cover;
    z-index: 2;
}

.hero__decor {
    position: absolute;
    bottom: 0;
    left: -215px;

    display: block;
    z-index: 1;
}

.hero__content {
    position: relative;
    flex-grow: 1;
    margin-top: 137px;
}

.hero__heading {
    width: 500px;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.32rem;
}

.hero__desc {
    width: 370px;
    margin-top: 20px;
}

.hero__row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero_btn {
    border-radius: 0;
}

.hero__cta {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    transition: 0.2s;
}

.hero__cta:hover {
    text-decoration: underline;
}

.hero__socials {
    margin-top: 109px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social-text {
    color: #51586a;
    font-weight: 500;
    line-height: 187.5%;
}

.hero__social-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__content-decor {
    position: absolute;
    bottom: 0;
    right: -192px;
}
