*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
}

/* Common */
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    background: #5d3bee;
    color: #fdfdfd;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 166.667%;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px 0;
    background: #fbfaff;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mail {
    display: flex;
    align-items: center;
}

.header__mail-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93, 59, 238, 0.2);
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
}

.nav__list {
    display: flex;
}

.header__mail-address {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}

.nav__link {
    color: #51586a;
    font-size: 1.8rem;
    padding: 8px 24px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    padding-top: 24px;
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    column-gap: 156px;
}

.hero__media {
    width: 44%;
    flex-shrink: 0;
}

.hero__images {
    position: relative;
}

.hero__img {
    position: relative;
    display: block;
    width: 514px;
    object-fit: cover;
    z-index: 2;
}

.hero__decor {
    position: absolute;
    bottom: 0;
    left: -215px;

    display: block;
    z-index: 1;
}

.hero__content {
    position: relative;
    flex-grow: 1;
    margin-top: 137px;
}

.hero__heading {
    width: 500px;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -0.32rem;
}

.hero__desc {
    width: 370px;
    margin-top: 20px;
}

.hero__row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero_btn {
    border-radius: 0;
}

.hero__cta {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    transition: 0.2s;
}

.hero__cta:hover {
    text-decoration: underline;
}

.hero__socials {
    margin-top: 109px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__social-text {
    color: #51586a;
    font-weight: 500;
    line-height: 187.5%;
}

.hero__social-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero__content-decor {
    position: absolute;
    bottom: 0;
    right: -192px;
}

/* Client */
.client {
    margin-top: 100px;
}

.client__row {
    display: flex;
    column-gap: 105px;
    justify-content: flex-end;
}

.client__heading {
    position: relative;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 119.048%;
    letter-spacing: -0.168rem;
    width: 253px;
}

.client__heading::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 22px;
    left: -99px;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px 36px;
    width: 60%;
}

.client__link {
    display: flex;
    align-items: center;
}

.client__icon {
    margin-right: 13px;
}

.client__text {
    color: #080415;
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
}

/* Service */
.service {
    margin-top: 133px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin: 20px 0 60px;
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.service-item {
    padding: 32px 43px;
    background: #fbfaff;
}

.service-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgb(8, 4, 21, 0.05);
}

.service-item__icon {
    width: 38px;
    height: 38px;
}

.service-item__title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.service-item__desc {
    margin-top: 15px;
    width: 285px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 166.667%;
}

/* Project */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.project__top {
    display: flex;
}

.project__heading {
    margin-right: 160px;
    width: 468px;
    color: #fff;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.project__desc {
    margin-top: 31px;
    width: 370px;
    color: #ccc;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.project__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.project-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 23px 24px 34px;
    background: #fbfaff;
    cursor: pointer;
}

.project-item::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url('../img/project-decor.svg');
}

.project-item__title {
    margin-top: 20px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.project-item__desc {
    margin-top: 10px;
    width: 220px;
    color: #51586a;
    line-height: 143.75%;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    transition: 0.2s;
}

.project-item__link:hover {
    text-decoration: underline;
}

.project-item__img {
    position: relative;
    width: 246px;
    height: 187px;
    z-index: 1;
}

.project__cta {
    display: flex;
    justify-content: center;
}

.project__btn {
    margin-top: 80px;
    background: #fff;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0;
}
